body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}

header {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    height: 100px;
    margin-top: auto;
    margin-bottom: auto;
}

.logo div {
    width: 150px;
    padding: 8%;
}

nav {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
}

header ul {
    list-style: none;
    color: #FF9100F5;
}

header li, .slider-buttons li {
    display: inline;
    margin: 25px;
}

nav a {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF9100F5;
    text-decoration: none;
}


nav a:hover {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #D46363;
    text-decoration: none;
}

button {
    width: 150px;
    height: 50px;
    border-radius: 12px;
    background-color: #FF9100F5;
    border-color: #FF9100F5;
    color: white;
}

main {
    margin-top: 1%;
}

.hero {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    height: 400px;
}

.hero-left {
    width: 50%;
}

.hero-right {
    width: 50%;
    background-image: url("/img/Rectangle 3.png");
    background-repeat: no-repeat;
    border-radius: 35px;
    background-size: cover;
}

.hero-right-info {
    margin-top: 240px;
    height: 150px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 25.53%, #D46363 96.89%);
    border-radius: 18px;
}

.hero-right-info p {
    margin-left: 20px;
    margin-right: 20px;
}

.hero-right-date {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    background: #FF910099;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    width: 20%;
    padding: 1%;
    color: white;
}

.hero-right-text {
    color: white;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
}

.before-h1 {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 300;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
}

h1 {
    font-family: Roboto Slab;
    font-size: 64px;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 0em;
    text-align: left;
}

.hero-left p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    width: 70%;
}

.btn-hero {
    width: 250px;
    height: 50px;
    border-radius: 12px;
    background-color: #FF9100F5;
    border-color: #FF9100F5;
    color: white;
    text-align: center;
}

.slider-buttons {
    margin-top: 50px;
    text-align: center;
    padding: 0;
}

.slider-buttons a {
    display: inline-block;
    height: 25px;
    width: 25px;
    border-radius: 75px;
    background-color: #FF910099;
}

.slider-buttons a:hover, a:active {
    display: inline-block;
    height: 25px;
    width: 25px;
    border-radius: 75px;
    background-color: #D46363;
}

.hero-right-arrows {
	width: 40%;
	display: flex;
    justify-content: space-between;
	height: 30px;
	position: absolute;
}

.fa-arrow {
    border: solid #FF9100F5;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 14px;
    margin: 15px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
  
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.projects {
    margin-top: 100px;
}

.projects h2 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #FF9100F5; 
    line-height: 0.1em;
    margin: 10px 0 20px;
    text-transform: uppercase;
    color: #FF9100F5;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 300;
 } 
 
.projects span { 
     background:#fff; 
     padding:0 10px; 
 }

 .projects p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
 }

 .after-h2 {
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
 }

 .project-cards {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
 }

 .project-card {
    text-align: center;
    background: #FF9100F5;
    margin: 10px;
    border-radius: 12px;
    padding: 20px;
    width: 20%;
 }

 .project-card h3 {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
 }

 .project-card p {
    font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;
}

.project-card:hover {
    text-align: center;
    background: #D46363;
    margin: 10px;
    border-radius: 12px;
    padding: 20px;
    width: 20%;
 }

.fa-project-card {
    width: 140px;
    height: 140px;
}

.presentation {
    content: url(img/presentation\ 1.png);
}

.classroom {
    content: url(img/classroom\ 1.png);
}

.coworking {
    content: url(img/classroom\ 1.png);
}

.project {
    content: url(img/project\ 1.png);
}

.team {
    margin-top: 50px;
    background:#FFA8000F;
}

.team h2 {
    width: 100%; 
    text-align: center; 
    border-right: 1px solid #D46363; 
    line-height: 0.1em;
    margin: 10px 0 20px;
    text-transform: uppercase;
    color: #D46363;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 300;
    background-color: #FFA8000F;
 }


 .team span { 
    background:#FFA8000F;
    padding:0 10px; 
}

.members {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    justify-items: center;
}

.fa-members {
    content: url(img/Group\ 2\ 2.png);
    width: 100px;
    height: 100px;
}

.members i {
    margin-top: auto;
    margin-bottom: auto;
}

.hidden {
    display: none;
}

.cta-btn {
    background: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
}

.cta-btn button {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.partners {
    margin-top: 50px;
}

.partners h2 {
    text-align: center;
    text-transform: uppercase;
}

.partners-logo {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}

.partners-logo span {
    margin-left: 10px;
}

.partners-logo:hover {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.partner {
    height: 60px;
    display: flex;
    filter: grayscale(100%);
    padding: 5px;
}

.partner:hover {
    filter: grayscale(0%);
}

footer {
    margin-top: 50px;
    background-color: #FF9100E5;
    width: 100%;
    color: white;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    width: 80%;
}

.footer-logo {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.footer-logo img {
    height: 100px;
    width: 100px;
}

.footer-logo span {
    font-family: Roboto;
font-size: 24px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
width: 100px;
margin-left: 25px;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
}

footer ul {
    list-style: none;
    margin: 25px;
}

.footer-menu li {
    padding: 20px;
}

.footer-contacts li {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 25px;
}

.footer-contacts span {
    padding: 10px;
}

.footer-social li {
    display: inline;
    margin: 25px;
}

.fa-phone {
    content: url(img/old-typical-phone\ 1.png);
}

.fa-email {
    content: url(img/email\ 1.png);
}

.fa-telegram {
    content: url(img/telegram\ 1.png);
}

.fa-facebook {
    content: url(img/Group.png);
}

.fa-instagram {
    content: url(img/instagram\ \(1\)\ 1.png);
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: none;
    color: #D46363;
}

.burger{
    height: 12px;
    width: 12px;
    position: relative;
    /* display: none; */
}

.burger :first-child{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: 0.5s;
}

.burger :nth-child(2){
    position: absolute;
    bottom: calc(12px/2 - 2px/2);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transition: 0.5s;
}

.burger :last-child{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transition: 0.5s;
}

.burger.active :first-child{
    transform: rotate(45deg);
    top: calc(50% - 1px);
    transition: 0.5s;
}

.burger.active :nth-child(2){
    display: none;
    transition: 0.5s;
}

.burger.active :last-child{
    transform: rotate(-45deg);
    bottom: calc(50% - 1px);
    transition: 0.5s;
}

.mobile-menu {
    display:none;
}

/* ------ADAPTATION-------- */

@media (max-width: 400px){
    header {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        height: 50px;
        display: flex;
        justify-content: space-between;
    }
    
    button {
        width: 100px;
        height: 25px;
        border-radius: 12px;
        background-color: #FF9100F5;
        border-color: #FF9100F5;
        color: white;
        margin-right: 25px;
    }

    .logo {
        display: flex;
        height: 50px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .name {
        display: none;
    }

    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .hero {
        display: flex;
        flex-wrap: wrap-reverse;
        height: auto;
        margin-top: 50px;
    }

    .hero-left {
        width: 100%;
    }

    .hero-right {
        width: 100%;
    }

    .hero-right-arrows {
        width: 80%;
    }

    .hero-right-info {
        margin-top: 25%;
        height: auto;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 65.53%, #D46363 96.89%);
    }

    .hero-right-date {
        width: 30%;
        font-size: 10px;
        margin-top: 80px;
    }

    .hero-right-text {
        font-size: 12px;
        line-height: 12px;
    }

    .hero-left {
        text-align: center;
        margin-top: 20px;
    }

    .hero-left h1, .hero-left p {
        text-align: center;
        width: 100%;
    }
}
